*{
    padding: 0;
    margin: 0;
}
.border99{
    border: 1px solid #999999;
    position: relative;
}
.box{
    margin: 30px 30px;
    padding: 20px;
    background-color: #eee;
    overflow: hidden;
    min-height: 500px;
}
.left {
    background-color: white;
    width: 200px;
    padding: 20px;
    overflow: hidden;
    position: absolute;
}
    .logo{
        width: 80px;
        height: 80px;
        background-color: #eee;
        float: left;
    }
        .logo p,.mlogo p{
            text-align: center;
            vertical-align: middle;
            margin-top: 25px;
        }
        .left >p{
            text-indent: 25px;
        }
.info{
    margin-left: 262px;
    margin-right: 220px;
    padding: 20px;
    background-color: white;
}
.right {
    overflow: hidden;
    padding: 20px 20px 0px 20px;
    width: 84px;
    background-color: white;
    position: absolute;
    right: 20px;
    top:20px;
}
    .mlogo{
        width: 80px;
        height: 80px;
        background-color: #eee;
        margin-bottom: 20px;
    }